{% extends 'base.html.twig' %}
{% block body %}
	<section>
		<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
			<div class="max-w-screen-md mb-8 lg:mb-16">
				<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Bienvenue sur notre site</h2>
				<p class="text-gray-500 sm:text-xl dark:text-gray-400">Découvrez nos derniers actualités sur le monde du dev </p>
			</div>
			<div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-2 md:gap-12 md:space-y-0">
				{% for post in lastPosts %}
					<div class="border-line">
						<div class="mb-4">
						{% for category in post.category %}
							<span class="bg-green text-beige text-sm font-medium mr-2 px-2.5 py-0.5 rounded border border-green">{{category.name}}</span>
						{% endfor %}
						</div>
						<h3 class="mb-2 text-xl font-bold dark:text-white">{{ post.title|raw }}</h3>
						<p class="text-gray-500 dark:text-gray-400">{{post.body|u.truncate(200, '...', false)|raw}}</p>
						<a href="{{ path('app_single_post', {'id': post.id})}}" class="inline-flex items-center px-3 py-2 mt-4 text-sm font-medium text-center text-beige bg-orange rounded-lg">
						Read more
						<svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 10">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
						</svg>
					</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
